# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.git
.gitignore
.wakatime-project
/.gitignore
.gitignore
public/static/.DS_Store




